<% if (item.cover_image){ %>
  <div class="col-12 mb-4" style="position: relative;">
    <img class="img-fluid project-img opacity-img" src="<%- config.root %><%- item.cover_image %>" alt="<%- item.title || "Untitled" %>">
    <div class="page-title" style="position: absolute;">
      <%- item.title || "无题" %>
    </div>
  </div>
<% } %>
<div class="col-12 pt-lg-3 mb-4 px-4 portfolio-content">
  <%- item.content %>
</div>
