<div class="mb-4">
  <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>"
    alt="<%- item.title || theme.default_post_title || " Untitled" %>">
</div>
<div class="">
  <h1 class="portfolio-title">
    <%- item.title || theme.default_post_title || "Untitled" %>
  </h1>
  <label>
    <%- date(item.date || '' ) + ' ' + time(item.date || '' ) %>
  </label>
</div>
<div class="portfolio-content">
  <%- item.content %>
</div>