<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
  	<div class="container-fluid navbar-container m-sm-5">
      <!-- Header -->
      <%- partial('_partial/header') %>

  		<div class="row">
  			<%- body %>
      </div>
      <% if (page.total > 1) { %>
    <nav class="page-nav">
        <%- paginator({prev_text: '<', next_text: '>'}) %>
    </nav>
<% } %>
  	</div>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
  <script>
    const COLOR_MAP = {
      SUNNY: '#ffeaa7',
      RAINY: '#74b9ff',
      SNOWY: '#81ecec',
      WINDY: '#ffcccc',
      CLOUDY: '#dfe6e9',
    };
    const WEATHER_MAP = ['SUNNY', 'RAINY', 'SNOWY', 'WINDY', 'CLOUDY'];
    var randomNum = (Math.random()*5 - 1).toFixed();
    if(randomNum >= 0) {
      document.body.style.backgroundColor = COLOR_MAP[WEATHER_MAP[randomNum]];
    }
  </script>
</html>
